{% extends 'base.html' %}

{% block body %}


<div class="container" style="padding-top:45px;padding-bottom:45px">

<div class="card" style="width: 48rem;margin-bottom:30px">
  <img src="{{ post.image.url }}" class="card-img-top" alt="..." height="300" width="150">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
      <small>{{ post.date }}</small>
    <p class="card-text">{{ post.content|safe }}</p>
    <a href="{% url 'delete' post.id %}" class="btn btn-danger" onclick="return confirm('Are you sure to delete')">Delete</a>
    <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
  </div>
</div>

</div>


{% endblock %}